<br />
<br />

<div class="container">
  <img
    src="https://img1.pnghut.com/6/1/25/2YqazRWDDa/national-grandparents-day-finger-artwork-cartoon-smile.jpg"
    alt="grandfather"
  />
  <ol class="level-2-wrapper">
    <li>
      <img
        src=" https://www.pinclipart.com/picdir/middle/541-5413588_grandmother-png-file-clipart-grandma-transparent-png.png"
        alt="grandfather"
      />
    </li>
  </ol>
</div>
<div class="container">
  <img
    src="https://img1.pnghut.com/6/1/25/2YqazRWDDa/national-grandparents-day-finger-artwork-cartoon-smile.jpg"
    alt="grandfather"
  />

  <ol class="level-2-wrapper">
    <li>
      <img
        src=" https://www.pinclipart.com/picdir/middle/541-5413588_grandmother-png-file-clipart-grandma-transparent-png.png"
        alt="grandfather"
      />
    </li>
  </ol>
</div>

<!-- <app-photos></app-photos> -->
