<!-- <router-outlet></router-outlet> -->
<br />
<br />

<div class="container">
  <h1 class="level-1 rectangle">FAMILY TREE</h1>
  <ol class="level-2-wrapper">
    <li>
      <h2
        class="level-2 rectangle"
        routerLink="/paternals"
        routerLinkActivate="active"
      >
        Paternal Ancestors
      </h2>
    </li>
    <li>
      <h2
        class="level-2 rectangle"
        routerLink="/maternals"
        routerLinkActivate="active"
      >
        Maternal Ancestors
      </h2>
    </li>
  </ol>
</div>

<!-- <app-photos></app-photos> -->
